.container {
    text-align: center;
    color: var(--branco);
    padding: 1.5rem 0;
    margin: 0 0;

    h1 {
        padding: 0.8rem;
        font-size: 3em;
    }

    p {
        color: var(--red-900);
        font-size: 1.1em;
    }
}

@media (max-width: 890px) {
    .container {
        h1 {
            font-size: 1.9em;
        }

        p {
            font-size: 0.70em;
        }
    }
}
  
